<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>

        <section th:fragment="editarInventario">
            <!-- Formulario a modificar -->
            <form th:action="@{/guardarInventario}" th:object="${inventario}" method="post" class="was-validated">

                <!-- como vamos a modificar el objeto se va a utilizar el ID persona  -->
                <input type="hidden" name="idInventario" th:field="*{idInventario}"/> 
                <section th:replace="layout/botonesEditarI :: botonesEditarI"></section> <!-- Llamamos a ptra pagina con los botones de editar -->

                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    
                                    <div class="card-body">
                                        <div class="form-group"> <!-- CLase para poderlos agrupar -->
                                            
                                            <label for="nombre">[[#{inventario.nombre}]]</label>
                                            <input type="text" name="nombre" class="form-control" 
                                                   required="true" th:field="*{nombre}" />
                                            
                                            <label for="cantidad">[[#{inventario.cantidad}]]</label>
                                            <input type="number" name="cantidad" class="form-control" 
                                                   required="true" th:field="*{cantidad}" />
                                            
                                            <label for="unidad">[[#{inventario.unidad}]]</label>
                                            <input type="text" name="unidad" class="form-control" 
                                                   required="true" th:field="*{unidad}" />
                                            
                                             <label for="entrada">[[#{inventario.entrada}]]</label>
                                            <input type="text" name="entrada" class="form-control" 
                                                   required="true" th:field="*{entrada}" />
                                            
                                             <label for="salida">[[#{inventario.salida}]]</label>
                                            <input type="text" name="salida" class="form-control" 
                                                   required="true" th:field="*{salida}" />
                                            
                                         
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </section>
    </body>
</html>
